// Primary Colors
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral colors
$dark-gray: hsl(0, 0%, 59%);

// Divider color
$divider-color: hsl(0%, 0%, 91%);

// Phone screen
$information-phone: "(max-width: 480px)";

// Tablet screen
$information-tablet: "(min-width: 480px) and (max-width: 728px)";

// Desktop screen
$information-desktop: "(min-width: 728px)";

body {
    background-color: $dark-cyan;
    background-image: url("../images/bg-pattern-top.svg"),
        url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;

    @media #{$information-phone} {
        background-position: right 40vw bottom 40vh, left 40vw top 40vh;
    }

    @media #{$information-tablet} {
        background-position: right 44vw bottom 44vh, left 44vw top 44vh;
    }

    @media #{$information-desktop} {
        background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 1em;
    overflow: hidden;
    background-color: white;

    @media #{$information-phone} {
        height: 376px;
        width: 330px;
    }

    @media #{$information-tablet} {
        height: 378px;
        width: 340px;
    }

    @media #{$information-desktop} {
        height: 380px;
        width: 350px;
    }

    &-header {
        img {
            display: block;
            width: 100%;
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            border: 6px solid white;
            border-radius: 50%;
            margin-top: -54px;
        }

        &-title {
            color: $very-dark-desaturated-blue;
            font-size: 1em;
            font-weight: 700;
            margin-bottom: 0px;
            margin-top: 1.4em;

            span {
                margin-left: 4px;
                color: $dark-grayish-blue;
                font-weight: 400;
            }
        }

        &-text {
            color: $dark-grayish-blue;
            font-size: 0.8em;
            margin-bottom: 1.4em;
            margin-top: 0.8em;
        }
    }

    &-footer {
        display: flex;
        margin-top: 0px;
        border-top: 1px solid $divider-color;
        justify-content: space-between;
        padding: 0.8em 3em 0px 2.2em;

        &-social {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: $very-dark-desaturated-blue;
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 0px;
            }
            p {
                color: $dark-gray;
                font-size: 0.6em;
                font-weight: 400;
                letter-spacing: 2px;
                margin-top: 0.6em;
                margin-bottom: 0px;
            }
        }
    }
}

// Feel free to remove these styles or customise in your own stylesheet 👍
.attribution {
    color: white;
    position: absolute;
    font-size: 0.6em;
    text-align: center;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a {
    color: maroon;
}
